body {
  
  background: white;
}
/* header*/
.tavernator-logo{
  font-family: 'Press Start 2P', cursive;
  color: antiquewhite;
  text-align: center;
  font-size: 2em;
  padding-top: 3%;
  padding-bottom: 5%;
}

#sky {
  background:url('Images/sky-tabernator.png') repeat-X;
  animation: movebg 9s linear infinite;
}
@keyframes movebg {
  0% { background-position:550px }
  100% { background-position:0 }
}

/*Menu*/
/*Boxes*/
.container {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  
  flex-wrap: wrap;
}

.box{
  
  padding: 1em 1em 1em 1em;
  margin: 2px;
  justify-content: space-around;
  flex-grow: 5;
  text-align: left;
  border: 3px black;
  border-style: solid

}


